.container {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--border);
    cursor: pointer;
}

.container h2 {
    font-size: 12px;
    font-weight: var(--font-regular);
    color: var(--gray-500);
}

.container h3 {
    font-size: 14px;
    font-weight: var(--font-medium);
    color: #000;
}